{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{ user.username }}
	- SymfoConnect
{% endblock %}

{% block body %}
	<h1>Profil de
		{{ user.username }}</h1>
	{% if user.avatarUrl %}
		<img src="{{ user.avatarUrl }}" alt="Avatar" style="max-width:100px;max-height:100px;">
	{% endif %}
	<p>
		<strong>Bio :</strong>
		{{ user.bio ? user.bio : 'Non renseignée' }}</p>


{# Stats followers/following #}
<div>
	<span>
		<strong>{{ user.followersCount }}</strong>
		followers</span>
	<span>
		<strong>{{ user.followingCount }}</strong>
		suivis</span>
</div>

    
    {% if app.user and not isOwner %}

        {% if isFollowing %}

            <form method="post" action="{{ path('user_unfollow', { username: user.username }) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('unfollow' ~ user.id) }}">
                <button type="submit">Ne plus suivre</button>
            </form>

        {% else %}

            <form method="post" action="{{ path('user_follow', { username: user.username }) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('follow' ~ user.id) }}">
                <button type="submit">Suivre</button>
            </form>

        {% endif %}

    {% endif %}







    {% if isOwner %}
        <a href="">Modifier mon profil</a>
    {% endif %}

	<h2>Tes posts</h2>
	<div>
		{% for post in posts %}
			<div class="post-card">
				<div class="post-meta">
					{{ post.createdAt ? post.createdAt|date('d/m/Y H:i') : 'Date inconnue' }}
				</div>
				<div class="post-content">
					{{ post.content|e }}
				</div>

                {% if is_granted('POST_DELETE', post) %}
                    <form method="post" action="{{ path('post_delete', { id: post.id }) }}" onsubmit="return confirm('Supprimer ce post ?');">

                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">

                        <button type="submit">🗑 Supprimer</button>
                    </form>
                {% endif %}


			</div>
		{% else %}
			<div>Aucun post pour ce profil.</div>
		{% endfor %}
	</div>
{% endblock %}
