{% extends 'base.html.twig' %}

{% block title %}Accueil - SymfoConnect
{% endblock %}

{% block body %}
	<h1>Derniers posts</h1>
	<div>
		{% for post in posts %}
			<div class="post-card">
				<div class="post-meta">
                <a href="{{ path('app_profile', {username: post.author.username}) }}">

                    {{ post.author.username }}
                </a>

					-
					{{ post.createdAt ? post.createdAt|date('d/m/Y H:i') : 'Date inconnue' }}
				</div>
				<div class="post-content">
					{{ post.content|e }}
				</div>
                


            <form method="post" action="{{ path('post_like', { id: post.id }) }}">
                <button type="submit">
                {% if app.user %}

                    {% if post.isLikedBy(app.user) %}
                        💔 Ne plus liker
                    {% else %}
                        ❤️ Liker
                    {% endif %}
                {% endif %}

                </button>
            </form>

            <span>{{ post.likesCount }}
                likes</span>





			</div>
		{% else %}
			<div>Aucun post pour le moment.</div>
		{% endfor %}
	</div>
{% endblock %}
